<mat-card >
    <mat-card-header>
        <mat-card-subtitle>Login to Ragnarok app</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Human name</mat-label>
            <input matInput #inputField maxlength="10" placeholder="Username" [(ngModel)]="username">
            <mat-hint align="end">{{inputField.value.length}}/10</mat-hint>
            <mat-icon matSuffix></mat-icon>
        </mat-form-field>
    <mat-card-content>
    </mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput #passwordField maxlength="10" type="{{passwordType}}" [(ngModel)]="password"
                   placeholder="Password">
            <mat-hint align="end">{{passwordField.value.length}}/10</mat-hint>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="changePasswordField()">
                <mat-icon *ngIf="passwordType" matSuffix>enhanced_encryption</mat-icon>
                <mat-icon *ngIf="!passwordType" matSuffix>lock_open</mat-icon>
            </button>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
    <button class="spacer" mat-raised-button color="primary" (click)="resetForm()">Reset</button>
    <button class="spacer" mat-raised-button color="accent" (click)="submit()">Submit</button>
    </mat-card-actions>
</mat-card>


